<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container">

  <ul class="nav navbar-nav navbar-right">
  	<li>
    	<%= link_to 'https://twitter.com/devanshu19', target: "_blank" do %>
    	<i class="fa fa-twitter" style="padding-right: 2px; color: #00aced;"></i>
    	<% end %>
    </li>
    <li>
    	<%= link_to 'https://www.facebook.com/devanshu.matlawala', target: "_blank" do %>
    	<i class="fa fa-facebook" style="padding-right: 2px; color: #3b5998;"></i>
    	<% end %>
    </li>
    <li> 
    	<%= link_to 'https://www.linkedin.com/in/devanshumatlawala/', target: "_blank" do %>
    	<i class="fa fa-linkedin" style="padding-right: 2px; color: #0077B5;"></i>
    	<% end %>
    </li>
    <li>
    	<%= link_to 'https://github.com/devanshu-m', target: "_blank" do %>
    	<i class="fa fa-github" aria-hidden="true" style="padding-right: 5px; color: #333;"></i>
    	<% end %>
    </li>
   </ul>
    
  </div>
</nav>